<apex:page docType="html-5.0" standardStylesheets="false" showHeader="true" sidebar="false" controller="ePrize_Zemzu.MotownController" tabStyle="ContestBuilder__tab" applyBodyTag="false">
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <title></title>
      <meta name="description" content="" />
      <meta name="viewport" content="width=device-width" />

      <link rel="stylesheet" href="{!URLFOR($Resource.crank, 'styles/main.css')}" />
      <script>
        window.html5 = {
          elements: 'abbr article aside audio bdi canvas data datalist details dialog ' +
            'figcaption figure footer header hgroup main mark meter nav output progress ' +
            'section summary template time video'
          };
      </script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
      <c:OrgConfig />
      <c:FrontEndErrorTracking />
      <c:ProductSelectorControllerAttacher />
      <c:ScorecardControllerAttacher />
    </head>

    <body>
      <div class="sf-reset--html">
        <div class="sf-reset--body">
          <div class="app__container">
            <div class="app">
              <header data-region="header"></header>
              <main role="main" data-region="content"></main>
              <div class="control-bar" data-sticky-bar="sticky">
                <nav role="navigation" data-region="sidebar"></nav>
                <div data-region="save-bar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <c:GA />
      <script type="text/javascript">
          window.resourceURL = "{!URLFOR($Resource.ePrize_Zemzu__crank)}";
      </script>

    <apex:outputPanel layout="none" rendered="{!$Setup.ContestBuilderSettings__c.LocalMode__c}">
      <apex:stylesheet value="https://localhost:1338/productSelector/styles/main.css"/>
      <script type="text/javascript" src="https://localhost:1338/productSelector/scripts/productSelector.js"></script>
      <script src='https://localhost:1338/browser-sync/browser-sync-client.2.9.10.js'></script>
    </apex:outputPanel>
    <apex:outputPanel layout="none" rendered="{!!$Setup.ContestBuilderSettings__c.LocalMode__c}">
      <apex:stylesheet value="{!URLFOR($Resource.ePrize_Zemzu__productSelector, '/styles/main.css')}"/>
      <script type="text/javascript" src="{!URLFOR($Resource.productSelector, '/scripts/productSelector.js')}"></script>
    </apex:outputPanel>

      <script type="text/javascript" src="{!URLFOR($Resource.crank, 'scripts/main.js')}"></script>
      <script type="text/javascript">
        WebFontConfig = {
          google: { families: [ 'Quicksand:400,300,700:latin' ] }
        };
        (function() {
          var wf = document.createElement('script');
          wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
          wf.type = 'text/javascript';
          wf.async = 'true';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(wf, s);
        })();
      </script>
    </body>
  </html>
</apex:page>