<apex:page docType="html-5.0" standardStylesheets="false" showHeader="true" sidebar="false" controller="ePrize_Zemzu.DashboardController" tabStyle="ContestBuilder__tab" applyBodyTag="false">
  <html>

    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <meta name="description" content="" />
      <meta name="viewport" content="width=device-width" />
      <title>LevelEleven - Dashboard</title>
      <c:FrontEndErrorTracking />
      <c:OrgConfig />
      <script>
        // Console-polyfill. MIT license.
        // https://github.com/paulmillr/console-polyfill
        // Make it safe to do console.log() always.
        (function(con) {
          'use strict';
          var prop, method;
          var empty = {};
          var dummy = function() {};
          var properties = 'memory'.split(',');
          var methods = ('assert,clear,count,debug,dir,dirxml,error,exception,group,' +
             'groupCollapsed,groupEnd,info,log,markTimeline,profile,profiles,profileEnd,' +
             'show,table,time,timeEnd,timeline,timelineEnd,timeStamp,trace,warn').split(',');
          while (prop = properties.pop()) con[prop] = con[prop] || empty;
          while (method = methods.pop()) con[method] = con[method] || dummy;
        })(this.console = this.console || {}); // Using `this` for web workers.
      </script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.5/es5-shim.min.js"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.5/es5-sham.min.js"></script>
      <script type="text/javascript">
      (function(){
        if(!window.L11) window.L11 = {};
        window.L11.resourceUrl = '{!URLFOR($Resource.dashboard)}';
        window.L11.isSalesforce = true;
      }());
      </script>
    </head>

    <body>
      <div id="app">&nbsp;</div>


    <apex:outputPanel layout="none" rendered="{!$Setup.ContestBuilderSettings__c.LocalMode__c}">
      <apex:stylesheet value="https://localhost:1338/dashboard/styles/main.css"/>
      <script type="text/javascript" src="https://localhost:1338/dashboard/scripts/dashboard.js"></script>
      <script src='https://localhost:1338/browser-sync/browser-sync-client.2.9.10.js'></script>
    </apex:outputPanel>
    <apex:outputPanel layout="none" rendered="{!!$Setup.ContestBuilderSettings__c.LocalMode__c}">
      <link rel="stylesheet" href="{!URLFOR($Resource.dashboard, 'styles/main.css')}" />
      <script type="text/javascript" src="{!URLFOR($Resource.dashboard, 'scripts/dashboard.js')}"></script>
    </apex:outputPanel>
      <c:GA />
    </body>
  </html>
</apex:page>