<apex:page standardcontroller="Lead" showHeader="false" sidebar="false" standardStylesheets="false">
  <style>
     Body { Background: transparent; }
  </style>
  <apex:iframe src="https://pi.pardot.com/prospect/activity/email/{!URLENCODE(Lead.Email)}?sessionid={!$Api.Session_ID}&serverurl={!$Api.Partner_Server_URL_90}&source=salesforce&tab=lead&style={!$User.UIThemeDisplayed}&fid={!Lead.ID}" scrolling="false" height="390" id="prospect_insight"/>
</apex:page>