<apex:page standardController="Case" extensions="AccountLinkingCustomController"  id="accountLinkTempalate" sidebar="true" standardStylesheets="true">
    <script>
    if({!shwSubmitForApprovalMsg }){
        var msgClosed = '{!$Label.Record_successfully_Submitted_for_Approval}';
        alert(msgClosed);
        var caseId= "{!cObj.id}";
        var urlstr = "/" +caseId
        window.open(urlstr,"_parent");
    }
    </script>
  <apex:sectionHeader title="{!$Label.Account_Linking}"/>
  <apex:pageMessages id="errorMsg"></apex:pageMessages>
  <apex:form Id="IsNew" rendered="{!IF(IsNew || IsEdit,True,False)}">      
      <apex:pageBlock title="Account Linking Page" id="Pblock"  mode="Detail">
          
          <apex:pageBlockButtons location="bottom" >
          <apex:actionStatus id="SavingInformation">                   
            <apex:facet name="start">
            <div class="waitingHolder" style="top: 12%; width: 200px; ">
            <img class="waitingImage" src="/img/loading32.gif" width="18px" height="18px"/>
            <span class="waitingDescription"><font size="2">Saving Information...</font></span>
            </div>                
            </apex:facet>
            <apex:facet name="stop"></apex:facet>
          </apex:actionStatus>
          <apex:commandButton action="{!saveLst}" value="Save As Draft"  reRender="sDataTable,sDataTableRelated,errorMsg" rendered="{!block1disp}" status="SavingInformation"/>
          <apex:commandButton action="{!cancel}" value="Cancel"  reRender="sDataTable,sDataTableRelated,errorMsg,SavingInformation"/>
          <apex:commandButton action="{!saveAndSubmitLst}" value="Submit for Approval"  rendered="{!block1disp}" onclick="callmyJS();"/>    
          </apex:pageBlockButtons>
          
          <apex:pageBlockSection columns="1" id="Psection">
              <apex:pageBlockSectionItem >
                <apex:outputLabel >{!$Label.Parent_Account}</apex:outputLabel>
                <apex:inputField value="{!accRecord.ParentID}" required="true">
                <apex:actionSupport event="onchange" action="{!searchActive}" reRender="searchBtn,errorMsg,nonRelAcclst,IsNew" />
                </apex:inputField>         
                </apex:pageBlockSectionItem>
          
              <apex:pageBlockSectionItem />
              <apex:inputfield Value="{!cObj.Notes__c}"/>
          </apex:pageBlockSection> 
      
      <!--------- Related Data: Acounts That are Not Linked----------------------------------------------------------------------------------->      
         
          <apex:outputPanel id="nonRelAcclst" >
          <apex:pageBlockSection columns="1" title="{!$Label.Search_Children_Accounts}" collapsible="false" >
<apex:outputPanel >
            <table border="0" style="width:100%;">
            <tr  style="width:100%;">
              <td style="width:25%;"><apex:outputPanel ><apex:pageBlockSectionItem id="search" >
                        <apex:outputLabel value="Search : "/>
                        <apex:inputText value="{!searchString}"/>
                        </apex:pageBlockSectionItem></apex:outputPanel></td>
                <td style="width:25%;"><apex:outputPanel ><apex:commandButton action="{!newSearchAccounts}" value="{!$Label.Child_Account_Search}" status="waitingStatusLoad" reRender="errorMsg,Pblock,nonRelAcclst,sDataTable,ButtonBlock1" id="searchBtn" style="width:135px;height:25px" disabled="{!IF((accRecord.ParentID==''),true,false)}"/></apex:outputPanel></td>        
                <td style="width:25%;">
                <apex:pageMessage severity="warning" strength="1" summary="More then 2000 records found, please rediefine your search." rendered="{!AccLimitExceed}" ></apex:pageMessage>
                </td>
                <td style="width:25%;"><apex:outputpanel style="float:right;">
                      <apex:outputText >List Size: 
                        <apex:selectList value="{!PageList_Size}" size="1" disabled="{!IF((accRecord.ParentID==''),true,false)}">
                            <apex:selectOption itemValue="20" itemLabel="20"/>
                            <apex:selectOption itemValue="50" itemLabel="50"/>
                            <apex:selectOption itemValue="100" itemLabel="100"/>
                            <apex:selectOption itemValue="200" itemLabel="200"/>
                            <apex:actionSupport event="onchange" status="waitingStatusLoad" action="{!newSearchAccounts}" reRender="errorMsg,Pblock,nonRelAcclst,sDataTable,ButtonBlock1,myButtons"/>
                        </apex:selectList></apex:outputText>
                      </apex:outputpanel></td>  
              </tr>
            </table>
    </apex:outputPanel>    
          
          </apex:pageBlockSection>
           <apex:actionStatus id="waitingStatusLoad">                   
            <apex:facet name="start">
            <div class="waitingHolder" style="top: 12%; width: 200px; ">
            <img class="waitingImage" src="/img/loading32.gif" width="18px" height="18px"/>
            <span class="waitingDescription"><font size="2">Searching Accounts...</font></span>
            </div>                
            </apex:facet>
            <apex:facet name="stop"></apex:facet>
          </apex:actionStatus>
                  
           <apex:pageBlockSection columns="1"  id="sDataTable" collapsible="False" rendered="{!IF(block1disp && accCheckWrap.size>0,true,False)}">
              <apex:outputPanel layout="block" style="position: relative; width: 100%">
                  <apex:pageBlockTable value="{!accCheckWrap}" var="relAcc" columns="8"> 
                        <apex:column width="3%"  >
                            <apex:inputCheckbox value="{!relAcc.acheck}" disabled="{!IF(relAcc.Notes!='',True,False)}"/>
                            <apex:facet name="header">Select</apex:facet>
                        </apex:column>                        
                        <apex:column width="17%">
                            <apex:commandLink target="_blank" action="{!openAccount}" value="{!relAcc.a.Name}" >
                                <apex:param name="CaseID" assignTo="{!selectedAccountID }"  value="{!relAcc.a.id}"/>
                            </apex:commandLink>
                            <apex:facet name="header">
                                    <apex:commandLink reRender="sDataTable" action="{!newSearchAccounts}" value="Name{!IF(sortExpression=='Name',IF(sortDirection='ASC','▼','▲'),'')}">
                                      <apex:param value="Name" name="column" assignTo="{!sortExpression}" ></apex:param>
                                    </apex:commandLink>
                                </apex:facet>
                        </apex:column>
                        <apex:column value="{!relAcc.a.Trade_Name__c}" width="10%">
                        <apex:facet name="header">
                                    <apex:commandLink reRender="sDataTable" action="{!newSearchAccounts}" value="Trade Name{!IF(sortExpression=='Trade_Name__c',IF(sortDirection='ASC','▼','▲'),'')}">
                                      <apex:param value="Trade_Name__c" name="column" assignTo="{!sortExpression}" ></apex:param>
                                    </apex:commandLink>
                                </apex:facet>
                        </apex:column>
                        <apex:column value="{!relAcc.a.Internal_Duns__c}" width="10%">
                            <apex:facet name="header">
                                    <apex:commandLink reRender="sDataTable" action="{!newSearchAccounts}" value="DUNS{!IF(sortExpression=='Internal_Duns__c',IF(sortDirection='ASC','▼','▲'),'')}">
                                      <apex:param value="Internal_Duns__c" name="column" assignTo="{!sortExpression}" ></apex:param>
                                    </apex:commandLink>
                                </apex:facet>
                        </apex:column>
                        <apex:column value="{!relAcc.a.Owner.Name}" width="15%">
                            <apex:facet name="header">
                                    <apex:commandLink reRender="sDataTable" action="{!newSearchAccounts}" value="Account Owner{!IF(sortExpression=='Owner.Name',IF(sortDirection='ASC','▼','▲'),'')}">
                                      <apex:param value="Owner.Name" name="column" assignTo="{!sortExpression}" ></apex:param>
                                    </apex:commandLink>
                                </apex:facet>
                        </apex:column>
                        <apex:column value="{!relAcc.a.Customer_Status__c}" width="10%">
                             <apex:facet name="header">
                                    <apex:commandLink reRender="sDataTable" action="{!newSearchAccounts}" value="{!$Label.Customer_Status}{!IF(sortExpression=='Customer_Status__c',IF(sortDirection='ASC','▼','▲'),'')}">
                                      <apex:param value="Customer_Status__c" name="column" assignTo="{!sortExpression}" ></apex:param>
                                    </apex:commandLink>
                                </apex:facet>
                            <apex:facet name="header"></apex:facet>
                        </apex:column>
                        <apex:column value="{!relAcc.activeMSD}" width="5%">
                            <apex:facet name="header">{!$Label.Active_MSD}</apex:facet>
                        </apex:column>
                        <apex:column width="30%">
                            <apex:OutputLabel > <FONT color="red">{!relAcc.Notes}</FONT></apex:OutputLabel>
                            <apex:facet name="header">Notes</apex:facet>
                        </apex:column>
                  </apex:pageBlockTable>
              </apex:outputPanel>
          </apex:pageBlockSection>
          <apex:pageBlockSection columns="1" id="ButtonBlock1" rendered="{!block1disp}" >
          <apex:actionStatus id="waitingPageLoad">                   
            <apex:facet name="start">
            <div class="waitingHolder" style="top: 12%; width: 200px; ">
            <img class="waitingImage" src="/img/loading32.gif" width="18px" height="18px"/>
            <span class="waitingDescription"><font size="2">Processing...</font></span>
            </div>                
            </apex:facet>
            <apex:facet name="stop"></apex:facet>
          </apex:actionStatus>
      <apex:outputPanel id="myButtons">
            <apex:commandButton action="{!Beginning}" title="Beginning" value="<<" disabled="{!disablePrevious}" reRender="Pblock,Pblock2,nonRelAcclst,sDataTable,Pblock2,sDataTableRelated,ButtonBlock3,myButtons,PageN,errorMsg,ButtonBlock1" status="waitingPageLoad"/>
            <apex:commandButton action="{!Previous}" title="Previous" value="<" disabled="{!disablePrevious}" reRender="Pblock,Pblock2,nonRelAcclst,sDataTable,Pblock2,sDataTableRelated,ButtonBlock3,myButtons,PageN,errorMsg,ButtonBlock1" status="waitingPageLoad"/>       
            <apex:commandButton action="{!Next}" title="Next" value=">" disabled="{!disableNext}" reRender="Pblock,Pblock2,nonRelAcclst,sDataTable,Pblock2,sDataTableRelated,ButtonBlock3,myButtons,PageN,errorMsg,ButtonBlock1" status="waitingPageLoad"/>
            <apex:commandButton action="{!End}" title="End" value=">>" disabled="{!disableNext}" reRender="Pblock,Pblock2,nonRelAcclst,sDataTable,Pblock2,sDataTableRelated,ButtonBlock3,myButtons,PageN,errorMsg,ButtonBlock1" status="waitingPageLoad"/>      
            <apex:outputLabel id="PageN" rendered="{!IF(total_Pages >=1,true,false)}"> {!current_Page} Page of {!total_Pages} Pages (Total Records : {!pageTotalRecord_Size})</apex:outputLabel>
       </apex:outputPanel>
       
      </apex:pageBlockSection>
          </apex:outputPanel>
         <table  border="" width = "100%">
         <tr><td width="20%"></td>
         <td align="Center">
        <apex:commandButton action="{!addTolst}" value="Add" status="addingrecords"  reRender="Pblock,Pblock2,nonRelAcclst,sDataTable,Pblock2,sDataTableRelated,ButtonBlock3,errorMsg" rendered="{!block1disp}" style="width:90px;height:25px"/>
        </td>
        <td width="40%"></td>
        </tr>
      </table>
<!--------- Related Data: Acounts That are Added to Accounts List----------------------------------------------------------------------------------->      
      <apex:outputpanel id="Pblock2" rendered="{!block1disp}" >
      <apex:actionStatus id="addingrecords">                   
            <apex:facet name="start">
            <div class="waitingHolder" style="top: 12%; width: 200px; ">
            <img class="waitingImage" src="/img/loading32.gif" width="18px" height="18px"/>
            <span class="waitingDescription"><font size="2">Adding Accounts...</font></span>
            </div>                
            </apex:facet>
            <apex:facet name="stop"></apex:facet>
          </apex:actionStatus>
           <apex:actionStatus id="removingrecords">                   
            <apex:facet name="start">
            <div class="waitingHolder" style="top: 12%; width: 200px; ">
            <img class="waitingImage" src="/img/loading32.gif" width="18px" height="18px"/>
            <span class="waitingDescription"><font size="2">Removing Accounts...</font></span>
            </div>                
            </apex:facet>
            <apex:facet name="stop"></apex:facet>
          </apex:actionStatus>
      <apex:pageBlockSection columns="1"  id="sDataTableRelated" title="{!$Label.Accounts_to_Link}" collapsible="False" >
          <apex:outputPanel layout="block" style="position: relative; width: 100%" rendered="{!block2disp}">
              <apex:pageBlockTable value="{!accSelectedCheckWrap}" var="relAcc"> 
                    <apex:column >
                        <apex:inputCheckbox value="{!relAcc.acheck}"/>
                        <apex:facet name="header">Select</apex:facet>
                    </apex:column>
                    <apex:column >
                           <apex:commandLink target="_blank" action="{!openAccount}" value="{!relAcc.a.Name}" >
                                <apex:param name="CaseID" assignTo="{!selectedAccountID }"  value="{!relAcc.a.id}"/>
                            </apex:commandLink>
                            <apex:facet name="header">Name</apex:facet>
                        </apex:column>
                        <apex:column value="{!relAcc.a.Trade_Name__c}">
                            <apex:facet name="header">Trade Name</apex:facet>
                        </apex:column>
                        <apex:column value="{!relAcc.a.Internal_Duns__c}">
                            <apex:facet name="header">DUNS</apex:facet>
                        </apex:column>
                        <apex:column value="{!relAcc.a.Owner.Name}">
                            <apex:facet name="header">Account Owner</apex:facet>
                        </apex:column>
                        <apex:column value="{!relAcc.a.Customer_Status__c}">
                            <apex:facet name="header">Customer Status</apex:facet>
                        </apex:column>
                        <apex:column value="{!relAcc.activeMSD}">
                            <apex:facet name="header">Active MSD?</apex:facet>
                        </apex:column>
              </apex:pageBlockTable>
          </apex:outputPanel>
          
      </apex:pageBlockSection>
       <table  border="" width = "100%">
         <tr><td width="20%"></td>
         <td align="Center">
        <apex:commandButton action="{!removeItemfromlst}" value="Remove" status="removingrecords"  reRender="Pblock,Pblock2,nonRelAcclst,sDataTable,Pblock2,sDataTableRelated,ButtonBlock3,errorMsg" style="width:90px;height:25px"/>
        </td>
        <td width="40%"></td>
        </tr>
      </table>
      </apex:outputpanel>
      
      </apex:pageBlock>
  </apex:form>
  <chatter:feed entityId="{!cObj.id}" rendered="{!IsDetail}"/>
  <apex:form Id="IsDetail" rendered="{!IsDetail}">
       <apex:pageBlock id="Pblock" Mode="Detail" title="{!$Label.Case_Details}">
           
          <apex:pageBlockButtons >
          <apex:commandButton action="{!EditDetails}" value="Edit"  rendered="{!EnableEdit}"/>
          <apex:commandButton action="{!deleteCase}" value="Delete" rendered="{!showDeleteonDetail}" />
          <apex:commandButton action="{!submitForApprovalDetails}" value="{!$Label.Submit_for_Approval}"  rendered="{!shwSubmitForApproval}" onclick="callmyJS();"/>
          <apex:commandButton action="{!ApproveRequest}" value="Approve" rendered="{!EnableApproval}"/>
          <apex:commandButton action="{!RejectRequest}" value="Reject" rendered="{!EnableApproval}"/>
          </apex:pageBlockButtons>
          <apex:pageBlockSection columns="2" id="Psection">
              <apex:pageblockSectionItem >
                  <apex:outputLabel >{!$Label.Parent_Account}</apex:outputLabel>
                  <apex:OutputField Value="{!cObj.AccountId}"/>
              </apex:pageblockSectionItem>
              <apex:OutputField Value="{!cObj.Status}"/>
              <apex:pageblockSectionItem >
                  <apex:OutputLabel Value="Parent Account Owner"/>
                  <apex:OutputField Value="{!cObj.Parent_Account_Owner__r.Name}"/>
              </apex:pageblockSectionItem>
              <apex:outputField value="{!cObj.CaseNumber}"/>
               <apex:pageblockSectionItem >
                  <apex:OutputLabel Value="Owner Manager"/>
                  <apex:OutputField Value="{!cObj.Account_Owner_Manager__c}"/>
              </apex:pageblockSectionItem>
                  <apex:OutputField Value="{!cObj.CreatedById}"/>
              <apex:pageBlockSectionItem id="UserChannel"  >
                <apex:outputLabel > User Channel</apex:outputLabel>
                <apex:OutputField Value="{!cObjParentAcc.Owner.Channel__c}"/>
              </apex:pageBlockSectionItem>
              <apex:OutputField Value="{!cObj.Subject}"/>
             <apex:OutputField Value="{!cObjParentAcc.Customer_Status__c}"/>
              <apex:OutputField Value="{!cObj.Notes__c}"/>
              <apex:pageBlockSectionItem id="ActMSDParent"  >
                    <apex:outputLabel >{!$Label.Active_MSD}</apex:outputLabel>
                    <apex:outputLabel >{!ActiveMSDParent}</apex:outputLabel>
              </apex:pageBlockSectionItem>
          </apex:pageBlockSection>
          <apex:pageBlockSection columns="1"  id="sDataTable" title="{!$Label.Accounts_to_be_linked_to_Parent}"  collapsible="False" >
              <apex:outputPanel layout="block" style="position: relative; width: 100%">
                  <apex:pageBlockTable value="{!accSelectedCheckWrapDetails}" var="relAcc">         
                        <apex:column >
                            <apex:facet name="header">Name</apex:facet>
                             <apex:commandLink target="_blank" action="{!openAccount}" value="{!relAcc.a.Name}" >
                                <apex:param name="CaseID" assignTo="{!selectedAccountID }"  value="{!relAcc.a.id}"/>
                            </apex:commandLink>
                        </apex:column>
                        <apex:column value="{!relAcc.a.Trade_Name__c}">
                            <apex:facet name="header">{!$Label.Trade_Name}</apex:facet>
                        </apex:column>
                        <apex:column value="{!relAcc.a.Internal_Duns__c}">
                            <apex:facet name="header">{!$Label.DUNS}</apex:facet>
                        </apex:column>
                        <apex:column value="{!relAcc.a.Owner.Name}">
                            <apex:facet name="header">{!$Label.Account_Owner}</apex:facet>
                        </apex:column>
                        <apex:column value="{!relAcc.a.Customer_Status__c}">
                            <apex:facet name="header">{!$Label.Customer_Status}</apex:facet>
                        </apex:column>
                        <apex:column value="{!relAcc.activeMSD}">
                            <apex:facet name="header">{!$Label.Active_MSD}</apex:facet>
                        </apex:column>
                  </apex:pageBlockTable>
              </apex:outputPanel>
          </apex:pageBlockSection>
       </apex:pageBlock>
  </apex:form>
  <apex:relatedList list="ProcessSteps" >
     <apex:facet name="header" ><font size="2" color="Black"><b>{!$Label.Approval_History}</b></font></apex:facet>
  </apex:relatedList>
</apex:page>