<apex:page standardController="CIF_Site__c"
           extensions="CreateCIFExtension"
           title="Customer Information Form" showHeader="false"
           standardStylesheets="true">

  <style>
    .leadTab .secondaryPalette, .individualPalette .leadBlock .secondaryPalette {
    border-color:#CC0017;
    }
    
    body .bEditBlock .pbBody .pbSubheader, body .bWizardBlock .pbBody .pbSubheader {
    background-image:none;
    color: #EFEFEF;
    }
    
    .leadTab .tertiaryPalette, .individualPalette .leadBlock .tertiaryPalette, .layoutEdit .individualPalette .leadBlock .tertiaryPalette {
    background-color:#919191
    }
    
    .requiredLegend {
    color: #EFEFEF;
    }
    
    hr {
    color:#CC0017;
    }
    
    .subHeader{
        font-weight:bold;
    }
    
  </style>     
   <c:SiteHeader />  
  <apex:pageMessages />
  
     
   <c:SiteFooter_RBS />

</apex:page>