<apex:page title="Customer COP Confirmation" showHeader="false" standardStylesheets="true">
        <style>
  .bPageBlock {
    border-top: 4px solid #CC0017;
  }
      
  </style>    
      
      <apex:image url="{!$Resource.RBSLogo}" style="align: left;" alt="Rogers Business Solutions" title="Rogers Business Solutions"/><br/>
    <apex:image url="{!$Resource.RBSSlogan}" style="padding-left:15px;padding-bottom:5px;width:250px;align:left;" alt="Rogers Business Solutions" title="Rogers Business Solutions"/>
      <apex:pageBlock >

        <div style="text-align:center;">
        
        <apex:outputText value="{!$Label.ThankYou_COP}"/>
        </div>
        
</apex:pageBlock>

<c:SiteFooter_RBS />
   
</apex:page>