<apex:page controller="fileboard.FileboardController" sidebar="false" showHeader="{!showHeader}" tabStyle="Fileboard__tab">
	<html>
		<head>
			<style type="text/css">
		    iframe {
		    	border: 0;
		        width: 100%;
		        overflow: hidden;
		    }
		    
		    .noSidebarCell, .sidebarCell .fixed {
		    	padding: 0px !important;
		    }
		    </style>
		    
		    <script type="text/javascript">
			  function resizeIFrame(height) {
			  	document.getElementById('fileboard_frame').height = parseInt(height)+60;
			  }
			  
			  function exitFrame() {
			  	window.location = '/{!JSENCODE($CurrentPage.parameters.crm_id)}';
			  }
			</script>
		</head>
		
		<body>
		    <iframe id="fileboard_frame" src="{!AppUrl}/connect/salesforce?access_token={!$Api.Session_ID}&user_id={!$User.ID}&org_id={!$Organization.ID}&instance_url={!BaseUrlForInstance}&integration={!$CurrentPage.parameters.integration}&key={!$CurrentPage.parameters.key}&viewer={!$CurrentPage.parameters.viewer}" height="800"></iframe>
	    </body>
    </html>
</apex:page>